.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}


.profile .top-weather-icon{
   
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 140px;
}

.profile-desc p{
    color: gray;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}


.profile .bottom-weather-icon{
   bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover{
    width: 140px;
}


.aboutme-image{
    margin-top: 100px;
}

.aboutme-image img{
    height: 270px;
    width: 250px;
}

.aboutme-desc p{
    text-align: left;
}

.professional-experience{
    padding: 1% 5%;
}

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.footer-menu{
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    margin: 10px;
    
}